.explore-section {
    padding-top: 50px;
    max-width: 90%;
    justify-content: center;
    margin: auto;
}

.explore-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
